    <div class="station result station-<%= @station.id %>">
<div class="station-home-image"><%= image_tag @station.home.screenshot.url if @station.home %></div>
<%= render :partial => 'metadata', :locals => {:station => @station } %>
<br style="clear: both;" />
</div>
