#wrapper {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}
#header .site-title {
  font-weight: normal;
}

#header {
  border-bottom: 5px solid #CCC;
  padding-bottom: 2em;
}

h1 a:link, h1 a:visited {
  color: #333;
  text-decoration: none;
}

h1 a:hover {
  background: none;
  color: #666;
}

.filter {
  border-bottom: 5px solid #CCC;
  padding-bottom: 2em;
}

.station-home-image {
  float: left;
  margin-right: 20px;
}

td {
  border-bottom: 1px solid #333;
  padding-top: 1em;
  padding-bottom: 1em;
  vertical-align: top;
}

.station {
  border-bottom: 1px solid #AAA;
  padding-bottom: 2em;
  padding-top: 2em;
}

.stations-image-clipped {
  float: left;
  margin-right: 2em;
}

.station:hover {
  background-color: #EEE;
}

.css1 { font-size: 0.7em; }
  .css2 { font-size: 1.0em; }
  .css3 { font-size: 1.4em; }
  .css4 { font-size: 1.8em; }
  .css5 { font-size: 2.0em; }
  .css6 { font-size: 2.2em; }
